* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

//HEAD

.headerContainer {
    display: flex;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    justify-content: space-between;

    padding: 30px;

    @media screen and (max-width: 600px) {
        padding: 2px;
    }
}

.languageIcon {
    width: 30px;
    height: auto;
    ;
}

.logo {
    text-transform: uppercase;
}

//NAV

.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: #808080;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: flex-start
    }
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 32px;
    padding: 2px;
    width: 33.3%;

    @media screen and (max-width: 600px) {
        width: 50%;
    }

    @media screen and (min-width: 1200px) {
        width: 100px;
        height: auto;
    }
}

//MAIN
.mainContainer {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;

    max-height: 300px;
    max-width: 100vw;
}

.imgWrapper>img {
    width: 100%;
    height: 100%;
}

.imgWrapper,
.mainTextWrapper {
    width: 50%;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

//PRODUCTS

.basketTotal {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    margin: 10px;
}

.productWrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 300px;
}

.productName {
    max-width: 300px;
    flex-grow: 2;
}

.productImg {
    max-height: 300px;
    object-fit: contain;
}

.priceWrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.productButton {
    padding: 2px;
}

.productPrice {
    display: flex;
    align-items: center;
}